<%- include ('../../partials/head') %>
  <%- include ('../../partials/menu') %>
    <div class="col"><%- include ('../../partials/message') %></div>

    <main>
        <div class="container">
              <centre>
                <div class="col-md-10" style="padding-top: 20px;"> 
                    <div class="card w-200">
                      <div class="card-body">  
                        <% if (messages[0].sender_id == user.user_id) {
                            var receiver = messages[0].receiver_data;
                        } else {
                            var receiver = messages[0].sender_data;
                        } %>
                        <div style="padding-bottom: 20px;">
                            <h4 class="card-title" style="display:inline;">Messages from <%- receiver.username %></h4>
                        </div>
                            <% 
                                if (messages) {
                                    messages.forEach(function(message) { 
                                        %>
                                        <p style="padding-left: 0%;"><%- message.sender_data.username %>: <%- message.message %> </p>
                                    
                                    <% }) 
                                } %>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="MessageToSend" name="MessageToSend" form="sendMessageForm"></textarea>
                            <label for="MessageToSend">Message</label>
                        </div>
                        <form action="/message/messages/send" method="POST" id="sendMessageForm" name="sendMessageForm" style="padding-top: 10px;">
                            <input type="hidden" id="message_group" name="message_group" value="<%= JSON.stringify(messages) %>">
                            <button type="submit" class="btn btn-outline-dark btn-sm" style="float: right;">
                                Send
                            </button>
                        </form>
                      </div>
                    </div>  
                  </div>
              </centre>
        </div>
    </main>