<%- include ('../../partials/head') %>
  <%- include ('../../partials/menu') %>
    <div class="col"><%- include ('../../partials/message') %></div>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <a href="/message/messages" title="Back to messages">
                        <img src="/images/messenger.png" alt="Profile_image" style="padding: 10px; width: 100px;">
                    </a>
                </div>
                <div class="col">     
                  <h3 style="padding: 10px; padding-top: 35px;">Welcome <%- user.username %></h3>
                </div>
              </div>
              <centre>
                <div class="col-md-10"> 
                    <div class="card w-200">
                      <div class="card-body">  
                        <% if (messages[0].sender_id == user.user_id) {
                            var receiver = messages[0].receiver_data;
                        } else {
                            var receiver = messages[0].sender_data;
                        } %>
                            <h5 class="card-title" style="display:inline">Messages from <%- receiver.username %></h5>
                            <% 
                                if (messages) {
                                    messages.forEach(function(message) { 
                                        %>
                                        <p style="padding-left: 0%;"> <%- message.message %> </p>
                                    
                                    <% }) 
                                } %>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="MessageToSend" name="MessageToSend" form="sendMessageForm"></textarea>
                            <label for="MessageToSend">Message</label>
                        </div>
                        <form action="/message/messages/send" method="POST" id="sendMessageForm" name="sendMessageForm">
                            <input type="hidden" id="message_group" name="message_group" value="<%= JSON.stringify(messages) %>">
                            <button type="submit" class="btn btn-outline-dark btn-sm" style="float: right;">
                                Send
                            </button>
                        </form>
                      </div>
                    </div>  
                  </div>
              </centre>
        </div>
    </main>